{
  "requiresBlueprint" : false,
  
  "paneLayout": {
    "background": {
      "type": "background",
      "fileHeader": "/interface/mt_bookstore/craftingheader.png",
      "fileBody": "/interface/mt_bookstore/mtbody.png",
      "fileFooter": "/interface/mt_bookstore/craftingfooter.png"
    },
    "close": {
      "type": "button",
      "base": "/interface/x.png",
      "hover": "/interface/xhover.png",
      "pressed": "/interface/xpress.png",
      "pressedOffset": [
        0,
        0
      ],
      "position": [
        347,
        261
      ]
    },
    "windowtitle": {
      "type": "title",
      "title": " Bookstore",
      "subtitle": " ^#b9b5b2;There is no friend as loyal as a book.",
      "position": [
        -5,
        252
      ],
      "icon": {
        "type": "image",
        "file": "/objects/bookstore/icon.png",
        "position": [
          0,
          -20
        ],
        "zlevel": -1
      }
    },
    "bgShine": {
      "type": "image",
      "file": "/interface/crafting/shine.png",
      "position": [
        11,
        0
      ],
      "zlevel": -10
    },
    "btnUpgrade": {
      "type": "button",
      "disabledImage": "/interface/crafting/upgradeUnready.png",
      "base": "/interface/crafting/upgradeReady.png",
      "position": [
        139,
        258
      ],
      "zlevel": 5
    },
    "lblSchematics": {
      "type": "label",
      "position": [
        88,
        244
      ],
      "hAnchor": "mid",
      "value": "^#b9b5b2;PRICE"
    },
    "lblProducttitle": {
      "type": "label",
      "position": [
        291,
        244
      ],
      "hAnchor": "mid",
      "value": "^#b9b5b2;PRODUCT"
    },
    "spinCount": {
      "type": "spinner",
      "position": [
        246,
        46
      ],
      "upOffset": 36
    },
    "tbSpinCount": {
      "type": "textbox",
      "position": [
        258,
        46
      ],
      "textAlign": "center",
      "maxWidth": 16,
      "regex": "x?\\d{0,4}",
      "hint": ""
    },
    "imgAmountInput": {
      "type": "image",
      "file": "/interface/crafting/amount.png",
      "position": [
        252,
        45
      ],
      "zlevel": -3
    },
    "btnCraft": {
      "type": "button",
      "base": "/interface/button.png",
      "hover": "/interface/buttonhover.png",
      "position": [
        297,
        43
      ],
      "caption": "Buy"
    },
    "btnStopCraft": {
      "type": "button",
      "base": "/interface/buttonactive.png",
      "hover": "/interface/buttonactivehover.png",
      "position": [
        297,
        43
      ],
      "caption": "Stop"
    },
    "imgCraftBg": {
      "type": "image",
      "file": "/interface/crafting/craftbg.png",
      "position": [
        222,
        40
      ],
      "zlevel": -5
    },
    "currentRecipeIcon": {
      "type": "itemslot",
      "callback": "null",
      "position": [
        223,
        41
      ]
    },
    "btnFilterHaveMaterials": {
      "type": "button",
      "base": "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked": "/interface/crafting/checkboxcheck.png",
      "checkable": true,
      "checked": false,
      "position": [
        66,
        59
      ]
    },
    "lblProduct": {
      "type": "label",
      "position": [
        77,
        58
      ],
      "hAnchor": "left",
      "value": "CAN AFFORD"
    },
    "description": {
      "type": "widget",
      "position": [
        216,
        41
      ],
      "size": [
        140,
        220
      ]
    },
	
	"imgPlayerMoneyIcon" : {
      "type" : "image",
      "position" : [7, 23],
      "file" : "/interface/money.png"
    },
    "lblPlayerMoney" : {
      "type" : "label",
      "position" : [21, 23],
      "hAnchor" : "left",
      "value" : "0"
    },
	
    "filter": {
      "type": "textbox",
      "position": [
        82,
        43
      ],
      "hint": "Search",
      "maxWidth": 70,
      "escapeKey": "close",
      "enterKey": "filter",
      "focus": false
    },
    "scrollArea": {
      "type": "scrollArea",
      "rect": [
        31,
        69,
        200,
        230
      ],
      "children": {
        "itemList": {
          "type": "list",
          "schema": {
            "selectedBG": "/interface/crafting/craftableselected2.png",
            "unselectedBG": "/interface/crafting/craftablebackground.png",
            "spacing": [
              0,
              1
            ],
            "memberSize": [
              159,
              20
            ],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/interface/crafting/craftablebackground.png",
                "position": [
                  2,
                  0
                ],
                "zlevel": -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 10],
                "hAnchor" : "left",
                "vAnchor" : "mid",
                "lineSpacing" : 1.0,
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon": {
                "type": "itemslot",
                "position": [
                  3,
                  1
                ],
                "callback": "null"
              },
              "newIcon": {
                "type": "image",
                "position": [
                  119,
                  5
                ],
                "file": "/interface/crafting/new.png",
                "zlevel": 2
              },
              "moneyIcon": {
                "type": "image",
                "position": [
                  122,
                  1
                ],
                "file": "/interface/money.png"
              },
              "priceLabel": {
                "type": "label",
                "position": [
                  134,
                  1
                ],
                "hAnchor": "left",
                "value": "0"
              },
              "notcraftableoverlay": {
                "type": "image",
                "file": "/interface/crafting/notcraftableoverlay.png",
                "position": [
                  2,
                  0
                ],
                "zlevel": 1
              }
            }
          }
        }
      }
    },
    "lvlNovels": {
      "type": "image",
      "file": "/interface/mt_bookstore/tabicon_novels.png",
      "position": [
        10,
        216
      ],
      "zlevel": 3
    },
    "lblManuals": {
      "type": "image",
      "file": "/interface/mt_bookstore/tabicon_manuals.png",
      "position": [
        10,
        198
      ],
      "zlevel": 3
    },
    "lblHistory": {
      "type": "image",
      "file": "/interface/mt_bookstore/tabicon_history.png",
      "position": [
        10,
        180
      ],
      "zlevel": 3
    },
    "categories": {
      "type": "radioGroup",
      "toggleMode": false,
      "buttons": [
        {
          "selected": true,
          "position": [
            3,
            214
          ],
          "baseImage": "/interface/mt_bookstore/unselectedTab.png",
          "baseImageChecked": "/interface/mt_bookstore/selectedTab.png",
          "data": {
            "filter": [
              "novels"
            ]
          }
        },
        {
          "position": [
            3,
            196
          ],
          "baseImage": "/interface/mt_bookstore/unselectedTab.png",
          "baseImageChecked": "/interface/mt_bookstore/selectedTab.png",
          "data": {
            "filter": [
              "manuals"
            ]
          }
        },
        {
          "position": [
            3,
            178
          ],
          "baseImage": "/interface/mt_bookstore/unselectedTab.png",
          "baseImageChecked": "/interface/mt_bookstore/selectedTab.png",
          "data": {
            "filter": [
              "history"
            ]
          }
        }
      ]
    },
    "rarities": {
      "type": "radioGroup",
      "toggleMode": true,
      "buttons": []
    }
  }
}